Super Mario Project/Super Mario Project/textures/blocs/blocs.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tileset">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="physic">
          <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="lines" type="xs:unsignedByte" use="required" />
      <xs:attribute name="columns" type="xs:unsignedByte" use="required" />
      <xs:attribute name="frame_delay" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>