trunk/Super Mario Project/Super Mario Project/textures/projectiles/projectiles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="projectile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="left_delta">
          <xs:complexType>
            <xs:attribute name="value" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="top_delta">
          <xs:complexType>
            <xs:attribute name="value" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="speed">
          <xs:complexType>
            <xs:attribute name="x" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="submission">
          <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="nb_sprites">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="run">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dead">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="frame_delay">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="run">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dead">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="times">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="appearance">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="life">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="disappearance">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>