Super Mario Project/Super Mario Project/textures/backgrounds/backgrounds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="background">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nb_sprites">
          <xs:complexType>
            <xs:attribute name="value" type="xs:byte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="vertical_repetition">
          <xs:complexType>
            <xs:attribute name="value" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>