trunk/Super Mario Project/Super Mario Project/textures/monsters/monsters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="monster">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="left_delta">
          <xs:complexType>
            <xs:attribute name="value" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="features">
          <xs:complexType>
            <xs:attribute name="value" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="points">
          <xs:complexType>
            <xs:attribute name="value" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="nb_sprites">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="walk">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="retracted" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="get_out_from_shell" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dead_by_jump" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dead_by_proj" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="frame_delay">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="walk">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="retracted" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="get_out_from_shell" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dead_by_jump" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dead_by_proj" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>